// algemene layout
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: $bgc;
  color: $txtColor;
  font-size: $fz;
  line-height: $lh;
}
h1 {
  font-size: $fz*1.8;
  line-height: $lh * 2;
}

a {
  color: $danger;
  text-decoration: none;

  &:hover {
    color: $gray;
  }
}